ConsumeAppInsigtsMetricsAPI/ConsumeAppInsigtsMetricsAPI/obj/Debug/
ConsumeAppInsigtsMetricsAPI/ConsumeAppInsigtsMetricsAPI/obj/project.assets.json
ConsumeAppInsigtsMetricsAPI/ConsumeAppInsigtsMetricsAPI/bin/Debug/net6.0/ConsumeAppInsigtsMetricsAPI.deps.json
ConsumeAppInsigtsMetricsAPI/ConsumeAppInsigtsMetricsAPI/bin/
ConsumeAppInsigtsMetricsAPI/ConsumeAppInsigtsMetricsAPI/obj/
ConsumeAppInsigtsMetricsAPI/.vs/ConsumeAppInsigtsMetricsAPI/v17/.suo
